#header {
  padding: 20px;
  text-align: center;
  background-color: #1abc9c;
  height: 10vh;
}
#underHeader {
  display: flex;
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: seagreen;
  height: 90vh;
  width: 10%;
}

#sidebar div {
  flex-grow: 1;
}

#sidebar button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#createTaskButton {
  background-color: #4CAF50; /* Green */
  color: white;
}

#deleteTaskButton {
  background-color: #f44336; /* Red */
  color: white;
}

#updateTaskButton {
  background-color: #008CBA; /* Blue */
  color: white;
}

#readCreatedTasksButton {
  background-color: #e7e7e7; /* Light Gray */
  color: black;
}


#main {
  padding: 20px;
  background-color: skyblue;
  height: 90vh;
  width: 90%;
}

/* Path: index.js */
/* styling for the task contaners */
/* styling for mainTaskContainer you want taskContainers side by side */
.mainTaskContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.taskContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

/* styling for the task buttons */
.taskButton {
  border-radius: 5px;
  flex-grow: 1;
}

/* styling for the task state */
.taskState {
  border-radius: 5px;
  background-color: gray;
  flex-grow: 1;
  width: 95%;
  text-align: center;
}

/* styling for members of createTaskForm
        <h2 id="createTaskTitle">Over here You can create a new task which you will update the progress later</h2>
        <form id="createTaskForm" onSubmit="event.preventDefault(); 
                                        const taskName = document.getElementById('taskName').value;
                                        const taskDescription = document.getElementById('taskDescription').value;
                                        createTask(taskName, taskDescription);">
            <label for="taskName">Task Name:</label>
            <input type="text" id="taskName" required>
            <br>
            <label for="taskDescription">Task Description:</label>
            <textarea type="text" id="taskDescription" required></textarea>
            <br>
            <button type="submit">Create Task</button>
        </form>
*/
#createTaskTitle {
  text-align: center;
  padding: 10px;
}

#createTaskForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#createTaskForm input {
  width: 100%;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}

#createTaskForm textarea {
  width: 100%;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}

#createTaskForm button {
  width: 100%;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  background-color: gold;
}

